modules:
<% for mod in @modules||[] %>
  <%= mod.name %>:
    prober: <%= mod.prober %>
    timeout: <%= mod.timeout %>
    <% if mod.prober === 'http' %>
    http:
      <% if mod.http_method %>
      method: <%= mod.http_method %>
      <% end %>
      <% if mod.auth_token %>
      headers:
        PRIVATE-TOKEN: <%= mod.auth_token %>
      <% end %>
    <% end %>
    <% if mod.prober === 'tcp' %>
    tcp:
      <% if mod.tcp_query_response %>
      query_response:
      <% mod.tcp_query_response.each do |key, value| %>
      - <%= key %>: "<%= value %>"
      <% end %>
      tls: <%= mod.tcp_tls %>
      tls_config:
        <% mod.tcp_tls_config.each do |key, value| %>
        <%= key %>: <%= value %>
        <% end %>
      <% end %>
    <% end %>
<% end %>
